.card-container{
    display: flex;
    /* background-color: blue; */
    justify-content: center;
    align-items: center;
}

.project-wrapper{
    display: flex;
    flex-direction: row;
    max-width: 1050px;
    overflow: hidden;
    overflow-x: auto;
}

.project-wrapper::-webkit-scrollbar{
    scrollbar-width: 5px;
}

.project-carousel{
    height: 500px;
    object-fit: cover;
    
}

.project-cards {
    padding: 15px 15px;
    margin-bottom: 25px;
    margin-right: 10px;
    width: 18rem;
    height: 500px;
    background-color: rgba(24, 17, 40, 0.584);
    border: 1px solid rgba(255, 255, 255, 0.125);
    border-radius: 10px;
    box-shadow: 0 0.5rem 1rem -0.25rem rgb(11, 11, 11);
}

.wrapper-btns{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border-color: var(--color-grey);
    background-color: transparent;
    color: var(--white-text);
    z-index: 100;
}

.wrapper-btns:hover{
    background-color: rgb(61, 67, 72, 0.4);
}

.next{
    margin-left: 10px;
}

.prev{
    margin-right: 10px;
}

.img-card {
    border-radius: 10px;
    width: 255px;
    height: 170px;
}

.card-title {
    margin-top: 20px;
    font-weight: 600;
}

.card-title h5{
    color: var(--color-purple);
}

.card-text {
    margin-top: 5px;
    margin-bottom: 10px;
    color: var(--white-text);
}

.skills{
    padding: 0;
    margin: 0;
    align-items:baseline;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
    list-style: none;
    color: var(--white-text);
}

.skills li{
    border-radius: 100px;
    background-color: var(--color-bg);
    border: solid 2px var(--color-purple);
    color: var(--color-purple);
    padding: 2px 18px;
    font-size: 12px;
    font-weight: 500;
}

.card-link{
    width: 255px;
}

@media screen and (max-width: 1280px){
    .project-wrapper{
        max-width: 586px;
        transition: all 0.5 ease;
    }
}

@media screen and (max-width: 770px){
    .project-wrapper{
        max-width: 288px;
        transition: all 0.5 ease;
    }
}

.low-blur1{
  position: absolute;
  width: 100px;
  height: 200px;
  min-width: 60px;
  min-height: 100px;
  right: 1vw;
  top: 2700px;
  border: 764px;
  background-color: var(--color-yellow);
  filter: blur(100px);
  border-radius:25%;
  z-index: 0;
  animation: moveVertical 10s linear infinite;
  overflow: hidden;
}

.low-blur2{
    position: absolute;
    width: 15vw;
    height: 250px;
    min-width: 60px;
    min-height: 150px;
    left: -10vw;
    top: 2360px;
    border: 764px;
    background-color: var(--color-purple);
    filter: blur(100px);
    border-radius:25%;
    z-index: 1;
    animation: moveVertical 15s linear infinite;
    overflow: hidden;
  
  }
  
  @keyframes moveVertical {
    0% {
      transform: translateY(-50%);
    }
    50% {
      transform: translateY(50%);
    }
    100% {
      transform: translateY(-50%);
    }
  }