.card-container{
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: center;
}

.project-cards {
    padding: 15px 15px;
    margin-bottom: 25px;
    width: 18rem;
    height: 500px;
    background-color: rgba(24, 17, 40, 0.584);
    border: 1px solid rgba(255, 255, 255, 0.125);
    border-radius: 10px;
    box-shadow: 0 0.5rem 1rem -0.25rem rgb(11, 11, 11);
}

.img-card {
    border-radius: 10px;
    width: 255px;
    height: 170px;
}

.card-title {
    margin-top: 20px;
    font-weight: 600;
}

.card-title h5{
    color: var(--color-purple);
}

.card-text {
    margin-top: 5px;
    margin-bottom: 10px;
    color: var(--white-text);
}

.skills{
    padding: 0;
    margin: 0;
    align-items:baseline;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
    list-style: none;
    color: var(--white-text);
}

.skills li{
    border-radius: 100px;
    background-color: var(--color-bg);
    border: solid 2px var(--color-purple);
    color: var(--color-purple);
    padding: 2px 18px;
    font-size: 12px;
    font-weight: 500;
}

.card-link{
    width: 255px;
}


/* .card-link:hover{
    background-color: var(--color-dark);
} */
