.TopNavBar{
    /* background-color: darkblue; */
}

.TopNavBar a {
    font-size: 17px;
    font-weight: 600;
    text-decoration: none;
    color: var(--color-text);
}

.TopNavBar a:hover {
    color:var(--color-purple);
}