.App{
    padding: 0;
    margin: 0;
    color: var(--white-text);
    background-color: var(--color-bg);
}

.section-spacer{
    height: 100px;
}

.section-title{
    font-weight: 250;
    letter-spacing: 5px;
    margin-bottom: 30px;
}

.heading-scnd {
    font-size: 22px;
    color: var(--color-purple);
    letter-spacing: 1px;
}

.about-3d{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.footer {
    border-top: solid 2px var(--color-dark);
    color: rgb(89, 103, 119);
}

.footer p{
    font-size: 10px;
    margin-top: 5px;
    margin-bottom: 0;
}