.App{
    padding: 0;
    margin: 0;
    color: var(--white-text);
    background-color: var(--color-bg);
}


.section-spacer{
    height: 100px;
}

.section-title{
    font-weight: 250;
    letter-spacing: 5px;
    padding-bottom: 30px;
}

.footer {
    border-top: solid 2px var(--color-dark);
    color: rgb(89, 103, 119);
    padding-bottom: 40px;
}

.footer p{
    margin-top: 15px;
}